<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Modeling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="frontOfficeUrl" value="http://frontoffice.mamlay.ru"></add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <Modeling.Properties.Settings>
      <setting name="Modeling_BackOfficeSim_SimulationService" serializeAs="String">
        <value>http://faculty.ifmo.ru/corporateis/public/simulation</value>
      </setting>
      <setting name="Modeling_BackOfficeFront_FrontOfficeService" serializeAs="String">
        <value>http://faculty.ifmo.ru/corporateis/public/front-office</value>
      </setting>
      <setting name="Modeling_FrontOffice_FrontOfficeImitationHelper"
        serializeAs="String">
        <value>http://frontoffice.mamlay.ru/FrontOfficeImitationHelper.asmx</value>
      </setting>
      <setting name="Modeling_MamlayBackOfficeFront_FrontOfficeService"
        serializeAs="String">
        <value>http://backoffice.mamlay.ru/frontoffice</value>
      </setting>
      <setting name="Modeling_MamlayBackOfficeSim_SimulationService"
        serializeAs="String">
        <value>http://backoffice.mamlay.ru/simulation</value>
      </setting>
    </Modeling.Properties.Settings>
    <WindowsFormsApplication1.Properties.Settings>
      <setting name="WindowsFormsApplication1_BackOfficeFront_FrontOfficeService" serializeAs="String">
        <value>http://corporatesys/frontOffice</value>
      </setting>
      <setting name="WindowsFormsApplication1_BackOfficeSim_SimulationService" serializeAs="String">
        <value>http://corporatesys/simulation</value>
      </setting>
    </WindowsFormsApplication1.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>